In [45]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [97]:
# lets first connect to the webdriver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(4)

In [47]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=26%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=177294764260&version=1.2&viewName=normal"
driver.get(url)
time.sleep(6)

In [77]:
airline=[]
Date_of_Journey=[]
Source=[]
Destination=[]
Route=[]
dep_times=[]
arrival_time=[]
duration=[]
stops=[]
layovers=[]
price=[]

time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    airlines=driver.find_elements_by_xpath(("//span[@class='i-b text ellipsis']")) #scraping brands name by class name='_2WkVRV'
    for i in airlines:
        airline.append(i.text)#appending the text in Brand list
for page in range(start,end):#for loop for scrapping 4 page
    Sources=driver.find_elements_by_xpath(("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p"))#scraping brands name by class name='_2WkVRV'
    for i in Sources:
        Source.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    Destinations=driver.find_elements_by_xpath(("//div[@class='i-b pdd-0 text-left atime col-5']/p[2]"))#scraping brands name by class name='_2WkVRV'
    for i in Destinations:
        Destination.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    deps_times=driver.find_elements_by_xpath(("//div[@class='i-b pr']"))#scraping brands name by class name='_2WkVRV'
    for i in deps_times:
        dep_times.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    arrival_times=driver.find_elements_by_xpath(("//div[@class='i-b pdd-0 text-left atime col-5']/p[1]"))#scraping brands name by class name='_2WkVRV'
    for i in arrival_times:
        arrival_time.append(i.text)#appending the text in Brand list        

for page in range(start,end):#for loop for scrapping 4 page
    durations=driver.find_elements_by_xpath(("//div[@class='stop-cont pl-13']/p"))#scraping brands name by class name='_2WkVRV'
    for i in durations:
        duration.append(i.text)#appending the text in Brand list       

for page in range(start,end):#for loop for scrapping 4 page
    stop=driver.find_elements_by_xpath(("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span"))#scraping brands name by class name='_2WkVRV'
    for i in stop:
        stops.append(i.text)#appending the text in Brand list    

for page in range(start,end):#for loop for scrapping 4 page
    prices=driver.find_elements_by_xpath(("//div[@class='fare-group i-b']"))#scraping brands name by class name='_2WkVRV'
    for i in prices:
        price.append(i.text)#appending the text in Brand list
             
        
df1=pd.DataFrame({'Airlines':airline[:],
                  'Source':Source[:],
                  'Destination':Destination[:],
                  'Dep_times':dep_times[:],
                  'Arrival_time':arrival_time[:],
                  'Duration':duration[:],
                  'Stops':stops[:],
                  'Price':price[:]
                 
                 })
df1

,Airlines,Source,Destination,Dep_times,Arrival_time,Duration,Stops,Price
0,,New Delhi,Mumbai,16:15,06:20\n+ 1 day,14h 05m,1 Stop,"5,953"
1,,New Delhi,Mumbai,18:50,20:45,1h 55m,Non Stop,"5,954"
2,,New Delhi,Mumbai,21:30,23:35,2h 05m,Non Stop,"5,954"
3,,New Delhi,Mumbai,22:45,00:50\n+ 1 day,2h 05m,Non Stop,"5,954"
4,,New Delhi,Mumbai,17:45,22:25,4h 40m,1 Stop,"5,954"
...,...,...,...,...,...,...,...,...
175,,New Delhi,Mumbai,16:05,21:50,5h 45m,1 Stop,"12,150"
176,,New Delhi,Mumbai,17:35,23:25,5h 50m,1 Stop,"12,150"
177,,New Delhi,Mumbai,16:05,23:25,7h 20m,1 Stop,"12,150"
178,,New Delhi,Mumbai,21:15,08:35\n+ 1 day,11h 20m,1 Stop,"12,150"
179,,New Delhi,Mumbai,20:40,08:25\n+ 1 day,11h 45m,1 Stop,"12,150"

In [81]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=26%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=177294764260&version=1.2&viewName=normal"
driver.get(url)
time.sleep(6)

In [82]:
airline=[]
Date_of_Journey=[]
Source=[]
Destination=[]
Route=[]
dep_times=[]
arrival_time=[]
duration=[]
stops=[]
layovers=[]
price=[]

time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    airlines=driver.find_elements_by_xpath(("//span[@class='i-b text ellipsis']")) #scraping brands name by class name='_2WkVRV'
    for i in airlines:
        airline.append(i.text)#appending the text in Brand list
for page in range(start,end):#for loop for scrapping 4 page
    Sources=driver.find_elements_by_xpath(("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p"))#scraping brands name by class name='_2WkVRV'
    for i in Sources:
        Source.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    Destinations=driver.find_elements_by_xpath(("//div[@class='i-b pdd-0 text-left atime col-5']/p[2]"))#scraping brands name by class name='_2WkVRV'
    for i in Destinations:
        Destination.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    deps_times=driver.find_elements_by_xpath(("//div[@class='i-b pr']"))#scraping brands name by class name='_2WkVRV'
    for i in deps_times:
        dep_times.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    arrival_times=driver.find_elements_by_xpath(("//div[@class='i-b pdd-0 text-left atime col-5']/p[1]"))#scraping brands name by class name='_2WkVRV'
    for i in arrival_times:
        arrival_time.append(i.text)#appending the text in Brand list        

for page in range(start,end):#for loop for scrapping 4 page
    durations=driver.find_elements_by_xpath(("//div[@class='stop-cont pl-13']/p"))#scraping brands name by class name='_2WkVRV'
    for i in durations:
        duration.append(i.text)#appending the text in Brand list       

for page in range(start,end):#for loop for scrapping 4 page
    stop=driver.find_elements_by_xpath(("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span"))#scraping brands name by class name='_2WkVRV'
    for i in stop:
        stops.append(i.text)#appending the text in Brand list    

for page in range(start,end):#for loop for scrapping 4 page
    prices=driver.find_elements_by_xpath(("//div[@class='fare-group i-b']"))#scraping brands name by class name='_2WkVRV'
    for i in prices:
        price.append(i.text)#appending the text in Brand list
             
        
df2=pd.DataFrame({'Airlines':airline[:],
                  'Source':Source[:],
                  'Destination':Destination[:],
                  'Dep_times':dep_times[:],
                  'Arrival_time':arrival_time[:],
                  'Duration':duration[:],
                  'Stops':stops[:],
                  'Price':price[:]
                 
                 })
df2

,Airlines,Source,Destination,Dep_times,Arrival_time,Duration,Stops,Price
0,Air Asia,New Delhi,Mumbai,16:15,06:20\n+ 1 day,14h 05m,1 Stop,"5,953"
1,Go First,New Delhi,Mumbai,18:50,20:45,1h 55m,Non Stop,"5,954"
2,Go First,New Delhi,Mumbai,21:30,23:35,2h 05m,Non Stop,"5,954"
3,Go First,New Delhi,Mumbai,22:45,00:50\n+ 1 day,2h 05m,Non Stop,"5,954"
4,Go First,New Delhi,Mumbai,17:45,22:25,4h 40m,1 Stop,"5,954"
...,...,...,...,...,...,...,...,...
275,Air India,New Delhi,Mumbai,16:55,12:25\n+ 1 day,19h 30m,1 Stop,"1 left at13,410"
276,Vistara,New Delhi,Mumbai,19:55,23:05\n+ 1 day,27h 10m,1 Stop,"14,565"
277,Air India,New Delhi,Mumbai,20:15,19:45\n+ 1 day,23h 30m,1 Stop,"16,035"
278,Air India,New Delhi,Mumbai,16:55,19:45\n+ 1 day,26h 50m,1 Stop,"1 left at16,455"
279,Vistara,New Delhi,Mumbai,14:50,20:20,5h 30m,1 Stop,"19,395"

In [89]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=05%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=557484729256&version=1.1&viewName=normal"
driver.get(url)
time.sleep(6)

In [90]:
airline=[]
Date_of_Journey=[]
Source=[]
Destination=[]
Route=[]
dep_times=[]
arrival_time=[]
duration=[]
stops=[]
layovers=[]
price=[]

time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    airlines=driver.find_elements_by_xpath(("//span[@class='i-b text ellipsis']")) #scraping brands name by class name='_2WkVRV'
    for i in airlines:
        airline.append(i.text)#appending the text in Brand list
for page in range(start,end):#for loop for scrapping 4 page
    Sources=driver.find_elements_by_xpath(("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p"))#scraping brands name by class name='_2WkVRV'
    for i in Sources:
        Source.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    Destinations=driver.find_elements_by_xpath(("//div[@class='i-b pdd-0 text-left atime col-5']/p[2]"))#scraping brands name by class name='_2WkVRV'
    for i in Destinations:
        Destination.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    deps_times=driver.find_elements_by_xpath(("//div[@class='i-b pr']"))#scraping brands name by class name='_2WkVRV'
    for i in deps_times:
        dep_times.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    arrival_times=driver.find_elements_by_xpath(("//div[@class='i-b pdd-0 text-left atime col-5']/p[1]"))#scraping brands name by class name='_2WkVRV'
    for i in arrival_times:
        arrival_time.append(i.text)#appending the text in Brand list        

for page in range(start,end):#for loop for scrapping 4 page
    durations=driver.find_elements_by_xpath(("//div[@class='stop-cont pl-13']/p"))#scraping brands name by class name='_2WkVRV'
    for i in durations:
        duration.append(i.text)#appending the text in Brand list       

for page in range(start,end):#for loop for scrapping 4 page
    stop=driver.find_elements_by_xpath(("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span"))#scraping brands name by class name='_2WkVRV'
    for i in stop:
        stops.append(i.text)#appending the text in Brand list    

for page in range(start,end):#for loop for scrapping 4 page
    prices=driver.find_elements_by_xpath(("//div[@class='fare-group i-b']"))#scraping brands name by class name='_2WkVRV'
    for i in prices:
        price.append(i.text)#appending the text in Brand list
             
        
df3=pd.DataFrame({'Airlines':airline[:],
                  'Source':Source[:],
                  'Destination':Destination[:],
                  'Dep_times':dep_times[:],
                  'Arrival_time':arrival_time[:],
                  'Duration':duration[:],
                  'Stops':stops[:],
                  'Price':price[:]
                 
                 })
df3

,Airlines,Source,Destination,Dep_times,Arrival_time,Duration,Stops,Price
0,Air Asia,New Delhi,Mumbai,21:25,06:45\n+ 1 day,9h 20m,1 Stop,"5,953"
1,Air Asia,New Delhi,Mumbai,21:25,07:15\n+ 1 day,9h 50m,1 Stop,"5,953"
2,Air Asia,New Delhi,Mumbai,20:45,06:45\n+ 1 day,10h 00m,1 Stop,"5,953"
3,Air Asia,New Delhi,Mumbai,20:45,07:15\n+ 1 day,10h 30m,1 Stop,"5,953"
4,Air Asia,New Delhi,Mumbai,09:35,20:35,11h 00m,1 Stop,"5,953"
...,...,...,...,...,...,...,...,...
95,Vistara,New Delhi,Mumbai,06:00,08:00,2h 00m,Non Stop,"5,955"
96,Air India,New Delhi,Mumbai,07:00,09:05,2h 05m,Non Stop,"5,955"
97,IndiGo,New Delhi,Mumbai,06:30,08:40,2h 10m,Non Stop,"5,955"
98,IndiGo,New Delhi,Mumbai,07:15,09:25,2h 10m,Non Stop,"5,955"
99,Air India,New Delhi,Mumbai,08:00,10:10,2h 10m,Non Stop,"5,955"

In [92]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=10%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1113512413593&version=1.1&viewName=normal"
driver.get(url)
time.sleep(6)

In [93]:
airline=[]
Date_of_Journey=[]
Source=[]
Destination=[]
Route=[]
dep_times=[]
arrival_time=[]
duration=[]
stops=[]
layovers=[]
price=[]

time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    airlines=driver.find_elements_by_xpath(("//span[@class='i-b text ellipsis']")) #scraping brands name by class name='_2WkVRV'
    for i in airlines:
        airline.append(i.text)#appending the text in Brand list
for page in range(start,end):#for loop for scrapping 4 page
    Sources=driver.find_elements_by_xpath(("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p"))#scraping brands name by class name='_2WkVRV'
    for i in Sources:
        Source.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    Destinations=driver.find_elements_by_xpath(("//div[@class='i-b pdd-0 text-left atime col-5']/p[2]"))#scraping brands name by class name='_2WkVRV'
    for i in Destinations:
        Destination.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    deps_times=driver.find_elements_by_xpath(("//div[@class='i-b pr']"))#scraping brands name by class name='_2WkVRV'
    for i in deps_times:
        dep_times.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    arrival_times=driver.find_elements_by_xpath(("//div[@class='i-b pdd-0 text-left atime col-5']/p[1]"))#scraping brands name by class name='_2WkVRV'
    for i in arrival_times:
        arrival_time.append(i.text)#appending the text in Brand list        

for page in range(start,end):#for loop for scrapping 4 page
    durations=driver.find_elements_by_xpath(("//div[@class='stop-cont pl-13']/p"))#scraping brands name by class name='_2WkVRV'
    for i in durations:
        duration.append(i.text)#appending the text in Brand list       

for page in range(start,end):#for loop for scrapping 4 page
    stop=driver.find_elements_by_xpath(("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span"))#scraping brands name by class name='_2WkVRV'
    for i in stop:
        stops.append(i.text)#appending the text in Brand list    

for page in range(start,end):#for loop for scrapping 4 page
    prices=driver.find_elements_by_xpath(("//div[@class='fare-group i-b']"))#scraping brands name by class name='_2WkVRV'
    for i in prices:
        price.append(i.text)#appending the text in Brand list
             
        
df4=pd.DataFrame({'Airlines':airline[:],
                  'Source':Source[:],
                  'Destination':Destination[:],
                  'Dep_times':dep_times[:],
                  'Arrival_time':arrival_time[:],
                  'Duration':duration[:],
                  'Stops':stops[:],
                  'Price':price[:]
                 
                 })
df4

,Airlines,Source,Destination,Dep_times,Arrival_time,Duration,Stops,Price
0,SpiceJet,New Delhi,Hyderabad,17:00,19:05,2h 05m,Non Stop,"3,283"
1,Air Asia,New Delhi,Hyderabad,09:35,15:35,6h 00m,1 Stop,"5,953"
2,Air Asia,New Delhi,Hyderabad,08:00,15:35,7h 35m,1 Stop,"5,953"
3,Air Asia,New Delhi,Hyderabad,09:35,17:45,8h 10m,1 Stop,"5,953"
4,Air Asia,New Delhi,Hyderabad,07:10,15:35,8h 25m,2 Stop(s),"5,953"
...,...,...,...,...,...,...,...,...
447,Vistara,New Delhi,Hyderabad,17:10,20:55\n+ 1 day,27h 45m,2 Stop(s),"12,478"
448,Air India,New Delhi,Hyderabad,04:55,21:35,16h 40m,2 Stop(s),"13,895"
449,Go First,New Delhi,Hyderabad,10:45,23:20,12h 35m,1 Stop,"1 left at15,039"
450,Air India,New Delhi,Hyderabad,10:55,21:05,10h 10m,2 Stop(s),"1 left at15,983"
451,IndiGo,New Delhi,Hyderabad,11:20,17:35,6h 15m,1 Stop,"16,718"

In [95]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=20%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=836536256535&version=1.2&viewName=normal"
driver.get(url)
time.sleep(6)

In [96]:
airline=[]
Date_of_Journey=[]
Source=[]
Destination=[]
Route=[]
dep_times=[]
arrival_time=[]
duration=[]
stops=[]
layovers=[]
price=[]

time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    airlines=driver.find_elements_by_xpath(("//span[@class='i-b text ellipsis']")) #scraping brands name by class name='_2WkVRV'
    for i in airlines:
        airline.append(i.text)#appending the text in Brand list
for page in range(start,end):#for loop for scrapping 4 page
    Sources=driver.find_elements_by_xpath(("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p"))#scraping brands name by class name='_2WkVRV'
    for i in Sources:
        Source.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    Destinations=driver.find_elements_by_xpath(("//div[@class='i-b pdd-0 text-left atime col-5']/p[2]"))#scraping brands name by class name='_2WkVRV'
    for i in Destinations:
        Destination.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    deps_times=driver.find_elements_by_xpath(("//div[@class='i-b pr']"))#scraping brands name by class name='_2WkVRV'
    for i in deps_times:
        dep_times.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    arrival_times=driver.find_elements_by_xpath(("//div[@class='i-b pdd-0 text-left atime col-5']/p[1]"))#scraping brands name by class name='_2WkVRV'
    for i in arrival_times:
        arrival_time.append(i.text)#appending the text in Brand list        

for page in range(start,end):#for loop for scrapping 4 page
    durations=driver.find_elements_by_xpath(("//div[@class='stop-cont pl-13']/p"))#scraping brands name by class name='_2WkVRV'
    for i in durations:
        duration.append(i.text)#appending the text in Brand list       

for page in range(start,end):#for loop for scrapping 4 page
    stop=driver.find_elements_by_xpath(("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span"))#scraping brands name by class name='_2WkVRV'
    for i in stop:
        stops.append(i.text)#appending the text in Brand list    

for page in range(start,end):#for loop for scrapping 4 page
    prices=driver.find_elements_by_xpath(("//div[@class='fare-group i-b']"))#scraping brands name by class name='_2WkVRV'
    for i in prices:
        price.append(i.text)#appending the text in Brand list
             
        
df5=pd.DataFrame({'Airlines':airline[:],
                  'Source':Source[:],
                  'Destination':Destination[:],
                  'Dep_times':dep_times[:],
                  'Arrival_time':arrival_time[:],
                  'Duration':duration[:],
                  'Stops':stops[:],
                  'Price':price[:]
                 
                 })
df5

,Airlines,Source,Destination,Dep_times,Arrival_time,Duration,Stops,Price
0,SpiceJet,New Delhi,Mumbai,07:20,09:35,2h 15m,Non Stop,"2,998"
1,SpiceJet,New Delhi,Mumbai,06:20,08:40,2h 20m,Non Stop,"2,998"
2,SpiceJet,New Delhi,Mumbai,19:45,22:05,2h 20m,Non Stop,"2,998"
3,SpiceJet,New Delhi,Mumbai,18:55,21:05,2h 10m,Non Stop,"3,177"
4,Air India,New Delhi,Mumbai,07:00,09:05,2h 05m,Non Stop,"4,931"
...,...,...,...,...,...,...,...,...
615,Air India,New Delhi,Mumbai,10:55,22:25,11h 30m,1 Stop,"2 left at17,925"
616,Air India,New Delhi,Mumbai,10:55,00:10\n+ 1 day,13h 15m,1 Stop,"2 left at17,925"
617,Air India,New Delhi,Mumbai,10:55,08:45\n+ 1 day,21h 50m,1 Stop,"2 left at17,925"
618,Vistara,New Delhi,Mumbai,18:40,14:45\n+ 1 day,20h 05m,1 Stop,"18,030"
619,Vistara,New Delhi,Mumbai,11:10,14:45\n+ 1 day,27h 35m,1 Stop,"21,285"

In [98]:
url = "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=HYD&destinationCountry=IN&flexi=0&flight_depart_date=30%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1363438657822&version=1.1&viewName=normal"
driver.get(url)
time.sleep(6)

In [99]:
airline=[]
Date_of_Journey=[]
Source=[]
Destination=[]
Route=[]
dep_times=[]
arrival_time=[]
duration=[]
stops=[]
layovers=[]
price=[]

time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    airlines=driver.find_elements_by_xpath(("//span[@class='i-b text ellipsis']")) #scraping brands name by class name='_2WkVRV'
    for i in airlines:
        airline.append(i.text)#appending the text in Brand list
for page in range(start,end):#for loop for scrapping 4 page
    Sources=driver.find_elements_by_xpath(("//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p"))#scraping brands name by class name='_2WkVRV'
    for i in Sources:
        Source.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    Destinations=driver.find_elements_by_xpath(("//div[@class='i-b pdd-0 text-left atime col-5']/p[2]"))#scraping brands name by class name='_2WkVRV'
    for i in Destinations:
        Destination.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    deps_times=driver.find_elements_by_xpath(("//div[@class='i-b pr']"))#scraping brands name by class name='_2WkVRV'
    for i in deps_times:
        dep_times.append(i.text)#appending the text in Brand list        
for page in range(start,end):#for loop for scrapping 4 page
    arrival_times=driver.find_elements_by_xpath(("//div[@class='i-b pdd-0 text-left atime col-5']/p[1]"))#scraping brands name by class name='_2WkVRV'
    for i in arrival_times:
        arrival_time.append(i.text)#appending the text in Brand list        

for page in range(start,end):#for loop for scrapping 4 page
    durations=driver.find_elements_by_xpath(("//div[@class='stop-cont pl-13']/p"))#scraping brands name by class name='_2WkVRV'
    for i in durations:
        duration.append(i.text)#appending the text in Brand list       

for page in range(start,end):#for loop for scrapping 4 page
    stop=driver.find_elements_by_xpath(("//div[@class=' font-lightgrey fs-10 tipsy i-b fs-10']/span"))#scraping brands name by class name='_2WkVRV'
    for i in stop:
        stops.append(i.text)#appending the text in Brand list    

for page in range(start,end):#for loop for scrapping 4 page
    prices=driver.find_elements_by_xpath(("//div[@class='fare-group i-b']"))#scraping brands name by class name='_2WkVRV'
    for i in prices:
        price.append(i.text)#appending the text in Brand list
             
        
df6=pd.DataFrame({'Airlines':airline[:],
                  'Source':Source[:],
                  'Destination':Destination[:],
                  'Dep_times':dep_times[:],
                  'Arrival_time':arrival_time[:],
                  'Duration':duration[:],
                  'Stops':stops[:],
                  'Price':price[:]
                 
                 })
df6

,Airlines,Source,Destination,Dep_times,Arrival_time,Duration,Stops,Price
0,Air India,New Delhi,Hyderabad,08:10,10:30,2h 20m,Non Stop,"3,015"
1,IndiGo,New Delhi,Hyderabad,07:00,11:20,4h 20m,1 Stop,"3,015"
2,IndiGo,New Delhi,Hyderabad,05:30,11:00,5h 30m,1 Stop,"3,015"
3,IndiGo,New Delhi,Hyderabad,07:00,17:00,10h 00m,1 Stop,"3,015"
4,Go First,New Delhi,Hyderabad,07:20,09:30,2h 10m,Non Stop,"3,120"
...,...,...,...,...,...,...,...,...
435,SpiceJet,New Delhi,Hyderabad,11:55,18:00,6h 05m,1 Stop,"8,264"
436,Go First,New Delhi,Hyderabad,10:45,23:20,12h 35m,1 Stop,"3 left at8,915"
437,Air India,New Delhi,Hyderabad,22:00,21:05\n+ 1 day,23h 05m,2 Stop(s),"10,453"
438,Air India,New Delhi,Hyderabad,10:55,21:05,10h 10m,2 Stop(s),"2 left at11,188"
439,IndiGo,New Delhi,Hyderabad,06:45,16:15,9h 30m,1 Stop,"12,098"

In [120]:
df7 = df5.append(df6)
df7

,Airlines,Source,Destination,Dep_times,Arrival_time,Duration,Stops,Price
0,SpiceJet,New Delhi,Mumbai,07:20,09:35,2h 15m,Non Stop,"2,998"
1,SpiceJet,New Delhi,Mumbai,06:20,08:40,2h 20m,Non Stop,"2,998"
2,SpiceJet,New Delhi,Mumbai,19:45,22:05,2h 20m,Non Stop,"2,998"
3,SpiceJet,New Delhi,Mumbai,18:55,21:05,2h 10m,Non Stop,"3,177"
4,Air India,New Delhi,Mumbai,07:00,09:05,2h 05m,Non Stop,"4,931"
...,...,...,...,...,...,...,...,...
435,SpiceJet,New Delhi,Hyderabad,11:55,18:00,6h 05m,1 Stop,"8,264"
436,Go First,New Delhi,Hyderabad,10:45,23:20,12h 35m,1 Stop,"3 left at8,915"
437,Air India,New Delhi,Hyderabad,22:00,21:05\n+ 1 day,23h 05m,2 Stop(s),"10,453"
438,Air India,New Delhi,Hyderabad,10:55,21:05,10h 10m,2 Stop(s),"2 left at11,188"
439,IndiGo,New Delhi,Hyderabad,06:45,16:15,9h 30m,1 Stop,"12,098"

In [121]:
df8=df7.append(df4)
df8

,Airlines,Source,Destination,Dep_times,Arrival_time,Duration,Stops,Price
0,SpiceJet,New Delhi,Mumbai,07:20,09:35,2h 15m,Non Stop,"2,998"
1,SpiceJet,New Delhi,Mumbai,06:20,08:40,2h 20m,Non Stop,"2,998"
2,SpiceJet,New Delhi,Mumbai,19:45,22:05,2h 20m,Non Stop,"2,998"
3,SpiceJet,New Delhi,Mumbai,18:55,21:05,2h 10m,Non Stop,"3,177"
4,Air India,New Delhi,Mumbai,07:00,09:05,2h 05m,Non Stop,"4,931"
...,...,...,...,...,...,...,...,...
447,Vistara,New Delhi,Hyderabad,17:10,20:55\n+ 1 day,27h 45m,2 Stop(s),"12,478"
448,Air India,New Delhi,Hyderabad,04:55,21:35,16h 40m,2 Stop(s),"13,895"
449,Go First,New Delhi,Hyderabad,10:45,23:20,12h 35m,1 Stop,"1 left at15,039"
450,Air India,New Delhi,Hyderabad,10:55,21:05,10h 10m,2 Stop(s),"1 left at15,983"
451,IndiGo,New Delhi,Hyderabad,11:20,17:35,6h 15m,1 Stop,"16,718"

In [122]:
# saving the dataframe
df8.to_csv('Final_flight.csv')