In [2]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [14]:
# lets first connect to the webdriver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(4)

In [15]:
url = "https://www.cardekho.com/used-cars+in+ahmedabad"
driver.get(url)
time.sleep(6)

# Details of Sold Car in Bangalore City

In [31]:
# lets first connect to the webdriver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(4)

In [32]:
url = "https://www.cardekho.com/used-cars+in+bangalore"
driver.get(url)
time.sleep(6)

In [33]:
brand=[]
model=[]
variant=[]
manuf_year=[]
Driven_KM=[]
fuel=[]
location=[]
No_owners=[]
price=[]

time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_xpath(("//div[@class='gsc_col-xs-7 carsName']/a"))#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list  
    prices=driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")# scraping the discount from the xpath
    for i in prices:
        price.append(i.text)
    models=driver.find_elements_by_xpath(("//div[@class='gsc_col-xs-7 carsName']/div[1]"))#scraping brands name by class name='_2WkVRV'
    for i in models:
        model.append(i.text)#appending the text in Brand list   
    kms=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[1]"))#scraping brands name by class name='_2WkVRV'
    for i in kms:
        Driven_KM.append(i.text)#appending the text in Brand list
    fuels=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[2]"))#scraping brands name by class name='_2WkVRV'
    for i in fuels:
        fuel.append(i.text)#appending the text in Brand list
    variants=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[3]"))#scraping brands name by class name='_2WkVRV'
    for i in variants:
        variant.append(i.text)#appending the text in Brand list
df2=pd.DataFrame({'Brand':brand[:],                 
                 'Price':price[:],
                'Model':model[:],
                'KMS_driven':Driven_KM[:],
                'Fuel':fuel[:],
               'Variant':variant[:]})
df2

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Maruti Ignis,5.36 Lakh,1.2 Zeta BSIV,"44,437 kms",Petrol,Manual
1,2009 Maruti Swift Dzire,3.29 Lakh,VXi,"86,950 kms",Petrol,Manual
2,2014 Maruti Swift,4.78 Lakh,VXI,"78,169 kms",Petrol,Manual
3,2010 Hyundai i10,3.06 Lakh,Sportz,"89,624 kms",Petrol,Manual
4,2012 Hyundai i10,3.49 Lakh,Sportz,"47,437 kms",Petrol,Manual
...,...,...,...,...,...,...
1275,2012 Honda City,4.78 Lakh,V MT,"1,00,241 kms",Petrol,Manual
1276,2018 Maruti Swift,7.49 Lakh,ZXI Plus,"28,477 kms",Petrol,Manual
1277,2009 Hyundai i20,2.93 Lakh,Magna,"1,11,524 kms",Petrol,Manual
1278,2015 Maruti Ritz,5.35 Lakh,ZXi,"28,001 kms",Petrol,Manual
1279,2018 Maruti Swift Dzire,7.95 Lakh,ZDI,"27,000 kms",Diesel,Manual

In [14]:
#frames = [df1, df2]
  
#result = pd.concat(frames)
#display(result)

# Details of Sold Car in Chennai City

In [10]:
# lets first connect to the webdriver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(4)

In [11]:
url = "https://www.cardekho.com/used-cars+in+chennai"
driver.get(url)
time.sleep(6)

In [12]:
brand=[]
model=[]
variant=[]
manuf_year=[]
Driven_KM=[]
fuel=[]
location=[]
No_owners=[]
price=[]

time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_xpath(("//div[@class='gsc_col-xs-7 carsName']/a"))#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list  
    prices=driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")# scraping the discount from the xpath
    for i in prices:
        price.append(i.text)
    models=driver.find_elements_by_xpath(("//div[@class='gsc_col-xs-7 carsName']/div[1]"))#scraping brands name by class name='_2WkVRV'
    for i in models:
        model.append(i.text)#appending the text in Brand list   
    kms=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[1]"))#scraping brands name by class name='_2WkVRV'
    for i in kms:
        Driven_KM.append(i.text)#appending the text in Brand list
    fuels=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[2]"))#scraping brands name by class name='_2WkVRV'
    for i in fuels:
        fuel.append(i.text)#appending the text in Brand list
    variants=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[3]"))#scraping brands name by class name='_2WkVRV'
    for i in variants:
        variant.append(i.text)#appending the text in Brand list
df3=pd.DataFrame({'Brand':brand[:],                 
                 'Price':price[:],
                'Model':model[:],
                'KMS_driven':Driven_KM[:],
                'Fuel':fuel[:],
               'Variant':variant[:]})
df3

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2016 Hyundai i20,6.1 Lakh,Asta 1.2,"54,850 kms",Petrol,Manual
1,2017 Maruti Swift,6.25 Lakh,ZDI BSIV,"81,000 kms",Diesel,Manual
2,2016 Mahindra TUV 300,8.75 Lakh,mHAWK100 T8 AMT,"38,000 kms",Diesel,Automatic
3,2011 Honda City,4.6 Lakh,1.5 S MT,"75,000 kms",Petrol,Manual
4,2019 Hyundai Grand i10,5.75 Lakh,1.2 Kappa Sportz BSIV,"15,000 kms",Petrol,Manual
...,...,...,...,...,...,...
399,2020 Mahindra XUV300,11.55 Lakh,W6 AMT Diesel,"24,000 kms",Diesel,Automatic
400,2013 Chevrolet Beat,2.95 Lakh,Diesel PS,"34,000 kms",Diesel,Manual
401,2009 Maruti Ritz,3.15 Lakh,VXI,"49,000 kms",Petrol,Manual
402,2015 Hyundai i20,5.65 Lakh,Magna 1.2,"35,000 kms",Petrol,Manual
403,2010 Ford Figo,3.1 Lakh,Petrol ZXI,"22,000 kms",Petrol,Manual

# Details of Sold Car in Hyderabad City

In [20]:
# lets first connect to the webdriver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(4)

In [21]:
url = "https://www.cardekho.com/used-cars+in+hyderabad"
driver.get(url)
time.sleep(6)

In [22]:
brand=[]
model=[]
variant=[]
manuf_year=[]
Driven_KM=[]
fuel=[]
location=[]
No_owners=[]
price=[]

time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_xpath(("//div[@class='gsc_col-xs-7 carsName']/a"))#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list  
    prices=driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")# scraping the discount from the xpath
    for i in prices:
        price.append(i.text)
    models=driver.find_elements_by_xpath(("//div[@class='gsc_col-xs-7 carsName']/div[1]"))#scraping brands name by class name='_2WkVRV'
    for i in models:
        model.append(i.text)#appending the text in Brand list   
    kms=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[1]"))#scraping brands name by class name='_2WkVRV'
    for i in kms:
        Driven_KM.append(i.text)#appending the text in Brand list
    fuels=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[2]"))#scraping brands name by class name='_2WkVRV'
    for i in fuels:
        fuel.append(i.text)#appending the text in Brand list
    variants=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[3]"))#scraping brands name by class name='_2WkVRV'
    for i in variants:
        variant.append(i.text)#appending the text in Brand list
df5=pd.DataFrame({'Brand':brand[:],                 
                 'Price':price[:],
                'Model':model[:],
                'KMS_driven':Driven_KM[:],
                'Fuel':fuel[:],
               'Variant':variant[:]})
df5

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2020 Maruti Celerio,5.5 Lakh,ZXI,"27,463 kms",Petrol,Manual
1,2018 Renault KWID,4.11 Lakh,1.0 RXT Optional,"14,164 kms",Petrol,Manual
2,2013 Maruti Ritz,3.66 Lakh,VDi,"57,500 kms",Diesel,Manual
3,2014 Hyundai i10,3.83 Lakh,Sportz 1.1L,"39,717 kms",Petrol,Manual
4,2010 Hyundai Grand i10,3.07 Lakh,Magna 1.2,"51,576 kms",Petrol,Manual
...,...,...,...,...,...,...
1671,2017 Maruti Swift Dzire,7.85 Lakh,VDi,"40,000 kms",Diesel,Manual
1672,2011 Renault Koleos,5.8 Lakh,2.0 Diesel,"98,100 kms",Diesel,Automatic
1673,2015 Audi A6,31.95 Lakh,3.0 TDI Quattro Premium Plus,"45,000 kms",Diesel,Automatic
1674,2019 Mahindra XUV500,17.5 Lakh,W11 Option AWD,"38,000 kms",Diesel,Manual
1675,2016 Mahindra XUV500,12.25 Lakh,W10 AWD,"90,000 kms",Diesel,Manual

# Details of Sold Car in Jaipur City

In [23]:
# lets first connect to the webdriver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(4)

In [24]:
url = "https://www.cardekho.com/used-cars+in+jaipur"
driver.get(url)
time.sleep(6)

In [25]:
brand=[]
model=[]
variant=[]
manuf_year=[]
Driven_KM=[]
fuel=[]
location=[]
No_owners=[]
price=[]

time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_xpath(("//div[@class='gsc_col-xs-7 carsName']/a"))#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list  
    prices=driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")# scraping the discount from the xpath
    for i in prices:
        price.append(i.text)
    models=driver.find_elements_by_xpath(("//div[@class='gsc_col-xs-7 carsName']/div[1]"))#scraping brands name by class name='_2WkVRV'
    for i in models:
        model.append(i.text)#appending the text in Brand list   
    kms=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[1]"))#scraping brands name by class name='_2WkVRV'
    for i in kms:
        Driven_KM.append(i.text)#appending the text in Brand list
    fuels=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[2]"))#scraping brands name by class name='_2WkVRV'
    for i in fuels:
        fuel.append(i.text)#appending the text in Brand list
    variants=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[3]"))#scraping brands name by class name='_2WkVRV'
    for i in variants:
        variant.append(i.text)#appending the text in Brand list
df6=pd.DataFrame({'Brand':brand[:],                 
                 'Price':price[:],
                'Model':model[:],
                'KMS_driven':Driven_KM[:],
                'Fuel':fuel[:],
               'Variant':variant[:]})
df6

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2015 Hyundai i20 Active,5.25 Lakh,1.2 SX,"38,356 kms",Petrol,Manual
1,2017 Hyundai i20,7.5 Lakh,Petrol Spotz,"14,164 kms",Petrol,Manual
2,2017 Maruti Alto 800,3.12 Lakh,LXI,"12,761 kms",Petrol,Manual
3,2014 Hyundai i20,4.64 Lakh,Asta 1.2,"88,535 kms",Petrol,Manual
4,2015 Toyota Etios Liva,5.24 Lakh,GD,"57,484 kms",Diesel,Manual
...,...,...,...,...,...,...
1739,2008 Maruti Swift,3.5 Lakh,Vdi BSIII,"40,000 kms",Diesel,Manual
1740,2018 Tata Zest,4 Lakh,Quadrajet 1.3 75PS XMS,"72,000 kms",Diesel,Manual
1741,2013 Mahindra XUV500,6.15 Lakh,W8 AWD,"83,000 kms",Diesel,Manual
1742,2013 Mahindra XUV500,7.4 Lakh,W8 2WD,"81,000 kms",Diesel,Manual
1743,2011 Ford Figo,1.85 Lakh,Petrol EXI Option,"72,000 kms",Petrol,Manual

# Details of Sold Car in Mumbai City

In [73]:
# lets first connect to the webdriver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(4)

In [74]:
url = "https://www.cardekho.com/used-cars+in+mumbai"
driver.get(url)
time.sleep(6)

In [75]:
brand=[]
model=[]
variant=[]
manuf_year=[]
Driven_KM=[]
fuel=[]
location=[]
No_owners=[]
price=[]

time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_xpath(("//div[@class='gsc_col-xs-7 carsName']/a"))#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list  
    prices=driver.find_elements_by_xpath("//div[@class='price gsc_col-xs-5 text-right']/span")# scraping the discount from the xpath
    for i in prices:
        price.append(i.text)
    models=driver.find_elements_by_xpath(("//div[@class='gsc_col-xs-7 carsName']/div[1]"))#scraping brands name by class name='_2WkVRV'
    for i in models:
        model.append(i.text)#appending the text in Brand list   
    kms=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[1]"))#scraping brands name by class name='_2WkVRV'
    for i in kms:
        Driven_KM.append(i.text)#appending the text in Brand list
    fuels=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[2]"))#scraping brands name by class name='_2WkVRV'
    for i in fuels:
        fuel.append(i.text)#appending the text in Brand list
    variants=driver.find_elements_by_xpath(("//div[@class='truncate dotlist']/span[3]"))#scraping brands name by class name='_2WkVRV'
    for i in variants:
        variant.append(i.text)#appending the text in Brand list
df8=pd.DataFrame({'Brand':brand[:],                 
                 'Price':price[:],
                'Model':model[:],
                'KMS_driven':Driven_KM[:],
                'Fuel':fuel[:],
               'Variant':variant[:]})
df8

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Maruti Swift,5.79 Lakh,VDI BSIV,"84,730 kms",Diesel,Manual
1,2017 Maruti Ignis,4.93 Lakh,1.2 Zeta BSIV,"36,985 kms",Petrol,Manual
2,2012 Hyundai i10,3.41 Lakh,Sportz,"73,717 kms",Petrol,Manual
3,2017 Maruti Celerio,4.14 Lakh,ZXI,"25,149 kms",Petrol,Manual
4,2018 Maruti Ignis,4.7 Lakh,1.2 Delta BSIV,"7,714 kms",Petrol,Manual
...,...,...,...,...,...,...
5039,2018 Honda BR-V,8.35 Lakh,i-VTEC S MT,"8,972 kms",Petrol,Manual
5040,2015 Mercedes-Benz S-Class,53.75 Lakh,S 350 CDI,"53,500 kms",Diesel,Automatic
5041,2018 Mahindra Scorpio,9.9 Lakh,S5 BSIV,"65,700 kms",Diesel,Manual
5042,2013 Mercedes-Benz M-Class,20 Lakh,ML 350 4Matic,"53,000 kms",Diesel,Automatic
5043,2015 Hyundai Creta,9.1 Lakh,1.6 VTVT SX Plus,"28,000 kms",Petrol,Manual

In [77]:
#create Dataframe.
df8=pd.DataFrame({})
df8['Brand']=brand
df8['Price']=price
df8['Model']=model
df8['KMS_driven']=Driven_KM
df8['Fuel']=fuel
df8['Variant']=variant
df8

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Maruti Swift,5.79 Lakh,VDI BSIV,"84,730 kms",Diesel,Manual
1,2017 Maruti Ignis,4.93 Lakh,1.2 Zeta BSIV,"36,985 kms",Petrol,Manual
2,2012 Hyundai i10,3.41 Lakh,Sportz,"73,717 kms",Petrol,Manual
3,2017 Maruti Celerio,4.14 Lakh,ZXI,"25,149 kms",Petrol,Manual
4,2018 Maruti Ignis,4.7 Lakh,1.2 Delta BSIV,"7,714 kms",Petrol,Manual
...,...,...,...,...,...,...
5039,2018 Honda BR-V,8.35 Lakh,i-VTEC S MT,"8,972 kms",Petrol,Manual
5040,2015 Mercedes-Benz S-Class,53.75 Lakh,S 350 CDI,"53,500 kms",Diesel,Automatic
5041,2018 Mahindra Scorpio,9.9 Lakh,S5 BSIV,"65,700 kms",Diesel,Manual
5042,2013 Mercedes-Benz M-Class,20 Lakh,ML 350 4Matic,"53,000 kms",Diesel,Automatic
5043,2015 Hyundai Creta,9.1 Lakh,1.6 VTVT SX Plus,"28,000 kms",Petrol,Manual

In [78]:
# saving the dataframe
df8.to_csv('Final_car.csv')