In [54]:
# Install The Selenium Library
!pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [55]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

1. Write a python program which searches all the product under a particular product from
www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user
input is ‘guitar’. Then search for guitars

In [60]:
# lets first connect to the webdriver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(4)

In [61]:
url = "https://www.amazon.in/"
driver.get(url)
time.sleep(6)

In [62]:
# entering “guitar” in the search bar field.
search_field_product=driver.find_element_by_id("twotabsearchtextbox") # search bar
search_field_product.send_keys('watch')

In [63]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']")
search_button.click()
time.sleep(4)

# Question-2

In [13]:
#creating the empty list
brand=[]

time.sleep(3)
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 3 page
    brands=driver.find_elements_by_class_name('s-line-clamp-1')#scraping brands name 
    for i in brands:
        brand.append(i.text)#appending the text in Brand list

time.sleep(3)        
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100]})

df

             Brand
0         TIMEWEAR
1           Decode
2           Decode
3   VILLS LAURRENS
4            Acnos
..             ...
95  The Shopoholic
96          MAGBOT
97           Casio
98          LORENZ
99           Acnos

[100 rows x 1 columns]

In [19]:
#creating the empty list
Price=[]

time.sleep(3)
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 3 page
    Prices=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
    for i in Prices:
        Price.append(i.text)#appending the text in Brand list

time.sleep(3)        
#creating a dataframe
df=pd.DataFrame({'Price':Price[:100]})

df

    Price
0   4,499
1     736
2     329
3     329
4     359
..    ...
95    359
96    445
97    349
98    599
99  1,295

[100 rows x 1 columns]

In [26]:
#creating the empty list
No_of_rating=[]

time.sleep(3)
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 3 page
    ratings=driver.find_elements_by_xpath("//span[@class='a-size-base']")
    for i in ratings:
          No_of_rating.append(i.text)#appending the text in Brand list
        
time.sleep(3)        
#creating a dataframe
df=pd.DataFrame({'No.Of Ratings':No_of_rating[:100]})

df

   No.Of Ratings
0          9,288
1            944
2            185
3          3,003
4            122
..           ...
95            85
96           373
97         1,263
98         2,086
99        45,931

[100 rows x 1 columns]

In [28]:
#creating the empty list
Expected_Delivery=[]

time.sleep(3)
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 3 page
    delivery=driver.find_elements_by_xpath("//span[@class='a-text-bold']")
    for i in delivery:
          Expected_Delivery.append(i.text)#appending the text in Brand list
        
time.sleep(3)        
#creating a dataframe
df=pd.DataFrame({'Expected_Delivery':Expected_Delivery[:100]})

df

    Expected_Delivery
0    Thursday, July 8
1      Friday, July 9
2      Friday, July 9
3      Friday, July 9
4   Saturday, July 10
..                ...
95   Thursday, July 8
96  Saturday, July 10
97     Friday, July 9
98    Monday, July 12
99  Saturday, July 10

[100 rows x 1 columns]

In [38]:
#creating the empty list
Availability=[]

time.sleep(3)
#scrapping the required details
start=0
end=3
for page in range(start,end):#for loop for scrapping 3 page
    avail=driver.find_elements_by_xpath("//div[@class='a-size-medium a-color-success']//span")
    for i in avail:
          Availability.append(i.text)#appending the text in Brand list
             
time.sleep(3)        
#creating a dataframe
df=pd.DataFrame({'Availability':Availability[:100]})

df

Empty DataFrame
Columns: [Availability]
Index: []

In [39]:
 df=pd.DataFrame({'Brand':brand[:100],'Price':Price[:100],'No.Of Ratings':No_of_rating[:100],
                "Expected_Delivery":Expected_Delivery[:100]})
df

             Brand  Price No.Of Ratings  Expected_Delivery
0         TIMEWEAR  4,499         9,288   Thursday, July 8
1           Decode    736           944     Friday, July 9
2           Decode    329           185     Friday, July 9
3   VILLS LAURRENS    329         3,003     Friday, July 9
4            Acnos    359           122  Saturday, July 10
..             ...    ...           ...                ...
95  The Shopoholic    359            85   Thursday, July 8
96          MAGBOT    445           373  Saturday, July 10
97           Casio    349         1,263     Friday, July 9
98          LORENZ    599         2,086    Monday, July 12
99           Acnos  1,295        45,931  Saturday, July 10

[100 rows x 4 columns]

# Question-3

In [64]:
# lets first connect to the webdriver
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(4)

In [71]:
url = "https://www.google.com/search?q=fruits&hl=EN&tbm=isch&sxsrf=ALeKk02RZWL00rjQvToegcoYZaK61mOKHQ%3A1625499080038&source=hp&biw=1422&bih=641&ei=xyXjYMi-PIGcmgeY2bzACw&oq=fruits&gs_lcp=CgNpbWcQAzIECCMQJzIICAAQsQMQgwEyCAgAELEDEIMBMggIABCxAxCDATIICAAQsQMQgwEyBQgAELEDMgUIABCxAzIFCAAQsQMyBQgAELEDMggIABCxAxCDAToHCCMQ6gIQJzoCCAA6BggAEAoQGFCHyFdYhO5XYP7zV2gHcAB4AIABggOIAfIPkgEHMC4zLjMuMpgBAKABAaoBC2d3cy13aXotaW1nsAEK&sclient=img&ved=0ahUKEwiIvvv5n8zxAhUBjuYKHZgsD7gQ4dUDCAc&uact=5"
driver.get(url)
time.sleep(6)

In [81]:
search_fruits=driver.find_element_by_xpath("//div[@class='c7cjWc']")
search_fruits

In [82]:
# Lets run the loop to extract the text inside them
fruit_titles=[]
for i in search_fruits:
    fruit_titles.append(i.text)
fruit_titles

TypeError: 'WebElement' object is not iterable

# Question-4

In [83]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

In [84]:
url = "https://www.flipkart.com/"
driver.get(url)

In [92]:
time.sleep(2)
#locating the search bar
search_bar=driver.find_element_by_class_name("_3704LK")
search_bar.send_keys('moto')

In [93]:
time.sleep(2)
#locating the button and clicking it toh search for sunglasses
button=driver.find_element_by_class_name('L0Z3Pu')
button.click()

In [96]:
#creating the empty list
brand=[]
price=[]
RAM=[]
Camera=[]
Display=[]
Processor=[]


time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('_4rR01T')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements_by_xpath("//div[@class='_30jeq3 _1_WHN1']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    ram=driver.find_elements_by_xpath("//li[@class='rgWa7D']")# scraping the discount from the xpath
    for i in ram:
        RAM.append(i.text)
    camera=driver.find_elements_by_xpath("//li[@class='rgWa7D']")#scraping the list of buttons from the page
    for i in camera:
        Camera.append(i.text)
    display=driver.find_elements_by_xpath("//li[@class='rgWa7D']")#scraping the list of buttons from the page
    for i in display:
        Display.append(i.text)
        
    processor=driver.find_elements_by_xpath("//li[@class='rgWa7D']")#scraping the list of buttons from the page
    for i in processor:
        Processor.append(i.text)
        


df=pd.DataFrame({'Brand':brand[:100],
                'Price':price[:100],
                'Ram':RAM[:100],
                'Camera':Camera[:100],
                'display':Display[:100],
                'Processor':Processor[:100]})
#printing dataframe
df

,Brand,Price,Ram,Camera,display,Processor
0,"MOTOROLA E7 Power (Tahiti Blue, 32 GB)","₹6,999",2 GB RAM | 32 GB ROM | Expandable Upto 1 TB,2 GB RAM | 32 GB ROM | Expandable Upto 1 TB,2 GB RAM | 32 GB ROM | Expandable Upto 1 TB,2 GB RAM | 32 GB ROM | Expandable Upto 1 TB
1,"MOTOROLA G30 (Dark Pearl, 64 GB)","₹10,999",16.54 cm (6.51 inch) HD+ Display,16.54 cm (6.51 inch) HD+ Display,16.54 cm (6.51 inch) HD+ Display,16.54 cm (6.51 inch) HD+ Display
2,"MOTOROLA E7 Power (Tahiti Blue, 64 GB)","₹8,299",13MP + 2MP | 5MP Front Camera,13MP + 2MP | 5MP Front Camera,13MP + 2MP | 5MP Front Camera,13MP + 2MP | 5MP Front Camera
3,"MOTOROLA E7 Power (Coral Red, 64 GB)","₹8,299",5000 mAh Battery,5000 mAh Battery,5000 mAh Battery,5000 mAh Battery
4,"MOTOROLA E7 Plus (Misty Blue, 64 GB)","₹9,499",MediaTek Helio G25 Processor,MediaTek Helio G25 Processor,MediaTek Helio G25 Processor,MediaTek Helio G25 Processor
...,...,...,...,...,...,...
95,Flipkart SmartBuy Edge To Edge Tempered Glass ...,₹219,Round Cable,Round Cable,Round Cable,Round Cable
96,Mivi 6 Ft Long Nylon Braided Original Tough Bl...,₹249,Connector One: USB A|Connector Two: Micro USB,Connector One: USB A|Connector Two: Micro USB,Connector One: USB A|Connector Two: Micro USB,Connector One: USB A|Connector Two: Micro USB
97,Ambrane ACM-1 1m 1 m Micro USB Cable,₹199,Cable Speed: 480 Mbps,Cable Speed: 480 Mbps,Cable Speed: 480 Mbps,Cable Speed: 480 Mbps
98,Ambrane AWC-38 With 1 m Sync & Charge USB Cabl...,₹379,Mobile,Mobile,Mobile,Mobile
99,Flipkart SmartBuy 10 W 2A Mobile Charger with ...,₹409,1 Year Warranty,1 Year Warranty,1 Year Warranty,1 Year Warranty

# Question-5

In [101]:
# assign url in the webdriver object
from time import sleep
driver = webdriver.Chrome()
driver.get("https://www.google.com/maps/@31.018031,75.401169,8z")
sleep(2)

In [103]:
# search locations
def searchplace():
    Place = driver.find_element_by_class_name("tactile-searchbox-input")
    Place.send_keys("Tiruchirappalli")
    Submit = driver.find_element_by_xpath(
        "/html/body/jsl/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/div[1]/button")
    Submit.click()
searchplace()

# Qustion-6

In [108]:
# assign url in the webdriver object
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

In [109]:
url = "https://trak.in/india-startup-funding-investment-2015/"
driver.get(url)
time.sleep(6)

In [113]:
search_July=driver.find_element_by_xpath("//td[@class='column-1']")
search_July

In [115]:
# Lets run the loop to extract the text inside them
July_titles=[]
for i in search_July:
    July_titles.append(i.text)
July_titles

TypeError: 'WebElement' object is not iterable

# Question-7

In [116]:
# assign url in the webdriver object
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

In [117]:
url = "https://www.digit.in/top-products/best-gaming-laptops-40.html"
driver.get(url)
time.sleep(6)

In [120]:
#creating the empty list
brand=[]
price=[]
OS=[]
Display=[]
Processor=[]
Memory=[]


time.sleep(3)
#scrapping the required details
start=0
end=4
for page in range(start,end):#for loop for scrapping 4 page
    brands=driver.find_elements_by_class_name('Top10-Seller')#scraping brands name by class name='_2WkVRV'
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    prices=driver.find_elements_by_xpath("//td[@class='smprice']")# scraping the price from the xpath
    for i in prices:
        price.append(i.text)
    os=driver.find_elements_by_xpath("//div[@class='value']")# scraping the discount from the xpath
    for i in os:
        OS.append(i.text)
    display=driver.find_elements_by_xpath("//li[@class='value']")#scraping the list of buttons from the page
    for i in display:
        Display.append(i.text)
    processor=driver.find_elements_by_xpath("//li[@class='value']")#scraping the list of buttons from the page
    for i in processor:
        Processor.append(i.text)
    memo=driver.find_elements_by_xpath("//li[@class='value']")#scraping the list of buttons from the page
    for i in memo:
        Memory.append(i.text)
        


df=pd.DataFrame({'Brand':brand[:7],
                'Price':price[:7],
                'OS':OS[:7],
                'display':Display[:7],
                'Processor':Processor[:7],
                'Memory':Memory[:7]})
#printing dataframe
df

ValueError: arrays must all be same length